<div class="flex justify-content-center">
  <div class="col-8">
    <form [formGroup]="redForm" (ngSubmit)="salvar()" class="grid w-full">
      <h1 class="col-12">Recurso Educacional Digital</h1>
      <div class="col-12 md:col-6 lg:col-3">
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            id="input-titulo"
            class="w-full"
            [class.ng-dirty]="redForm.controls['titulo'].dirty"
            formControlName="titulo"
          />
          <label for="input-titulo">Título *</label>
        </span>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            id="input-autor"
            class="w-full"
            [class.ng-dirty]="redForm.controls['autor'].dirty"
            formControlName="autor"
          />
          <label for="input-autor">Autor</label>
        </span>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            id="input-endereco"
            class="w-full"
            [class.ng-dirty]="redForm.controls['endereco'].dirty"
            formControlName="endereco"
          />
          <label for="input-endereco">Endereço URL *</label>
        </span>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <span class="p-float-label">
          <p-multiSelect
            inputId="input-conteudos"
            optionLabel="name"
            class="w-full p-fluid"
            formArrayName="conteudos"
            [lazy]="true"
            (onLazyLoad)="console.log('LAZY: ', $event)"
            [filter]="false"
          ></p-multiSelect>
          <label for="input-conteudos">Conteúdos *</label>
        </span>
      </div>
    </form>
  </div>
</div>
